h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("aq.jpeg");
    color:rgba(255, 255, 255, 0.9);
    height: 80px;
    font-weight: bold;
    padding-top: 25px;
    margin: auto ;
    border-radius: 18px;
    width: 100%;
    
}

body {
    background-color: rgba(36, 130, 151, 0.480);
}

h2 {
    color: rgba(111, 111, 111, 0.882);
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    
}

p {
    text-align: center;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
    font-family: fantasy;
    color: rgba(111, 111, 111, 0.944);
}

.gr {
    background-color: rgba(87, 224, 231, 0.536);
    border-radius: 19px;
    padding: 10px;
    margin-top: 5px;
    font-family: fantasy;
}

.h21 {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h22 {
    color: rgb(41, 39, 39);
    text-align: left;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h123 {
    background-color: rgba(4, 166, 191, 0.506);
    width: 16%;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    margin: 5px; 
}

.img1 {
    width: 30%;
    height: 280px;
    border-color: black;
    border: 30px;
    box-sizing: border-box;
    margin: 4px 1px 4px 1px;
    border-radius: 5px;
}

.img2 {
    width: 30%;
    height: 280px;
    border: 30px;
    margin: 4px 1px 4px 1px;
    border-radius: 5px;
}

.img3 {
    width: 24%;
    height: 280px;
    border: 30px;
    margin: 4px 1px 4px 1px;
    border-radius: 5px;
}

.img4 {
    width: 14%;
    height: 280px;
    border: 30px;
    margin: 4px 1px 4px 1px;
    border-radius: 5px;
}


.imgd {
    margin: 9px;
    border:rgba(254, 254, 254, 0.759) solid ;
    max-height: 300px;
    border-radius: 18px;
    border-left: 80px;
    padding: 5px;
    border-right: 80px;
    
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.aboutus {
    text-align: center;
}

#p1 {
    color: rgba(0, 0, 0, 0.621);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: left;

}

.aboutus1 {
    border: solid rgba(255, 255, 255, 0.762);
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    background-color: rgba(87, 224, 231, 0.536);

}

#sell {
    border: solid rgba(255, 255, 255, 0.695);
    margin: 5px;
    border-left: 20px;
    border-right: 20px;
    background-color: rgba(87, 224, 231, 0.536);

}

#c1 { 
    margin: auto;
}

#container {
    display: flex;
    max-width: 100%;
}

#h1234 {
    width: 26%;
    
    
}

#map {
    margin: 0 auto;
    position: relative;
    margin-left: 10px;
    flex: auto;
}
